services:
  etudiants-vue-app:
    image: node:20-alpine
    container_name: etudiants-vue-app
    working_dir: /app/etudiantsvue
    volumes:
      - ./etudiantsvue:/app/etudiantsvue
    ports:
      - "5173:5173"
    command: sh -c "npm install && npx vite build && cd dist && npx serve -s . -l 5173"
    networks:
      - app-network
    depends_on:
      - postgres

  spring-boot-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: spring-app
    ports:
      - "8080:8080"
    volumes:
      - ./notes:/app
      - maven-repo:/root/.m2
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - app-network

volumes:
  postgres_data:
  maven-repo:

networks:
  app-network:
    driver: bridge
